html {
	font-family: 'Roboto Condensed', sans-serif;
}

main {
	margin-left: 25%;
	margin-right: 25%;
}

h1 {
	font-weight: bold;
}

h4 {
	margin-top: -40px;
	color: #909090;
	font-style: italic;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
}

.indent {
	text-indent: 50px;
}

#headlines_blog a {
	text-decoration: none;
	color: black;
}