html {
	font-family: Garamond;
	margin-left: 250px;
	margin-right: 250px;
}

h1 {
	font-weight: bold;
}

h4 {
	margin-top: -20px;
	color: #909090;
	font-style: italic;
}

p {
	font-family: arial;
	font-size: 13px;
}
